@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-tap-highlight-color: transparent;
  --primary-theme: #5259ea;
}

body {
  font-size: 14px;
}

p {
  font-size: 14px;
}

ul {
  padding-left: 0px;
}
